<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="LionDbEntities" connectionString="metadata=res://*/Model.LionDbModel.csdl|res://*/Model.LionDbModel.ssdl|res://*/Model.LionDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=6.35.255.98;initial catalog=Interview;user id=InterviewUser;password=THEPASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>